# Домашнее задание к лекции 2.5 «Инструменты для оперативной работы с данными»

## Задача №1
С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен. Например:

```python    
count_top3([1880]) == ['John', 'William', 'Mary']
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']
```

In [1]:
import pandas as pd


def get_one_dataframe(year):
    dataframe = pd.read_csv(f'names/yob{year}.txt',
                            header=None,
                            names=['name', 'gender', 'count'])
    dataframe['year'] = year
    return dataframe

In [2]:
def get_dataframe(years):
    dataframe = pd.DataFrame()
    for year in years:
        dataframe = pd.concat([dataframe, get_one_dataframe(year)])
    return dataframe

In [3]:
def count_top(years, top=3):
    dataframe = get_dataframe(years)
    top_name = dataframe[['name', 'count']] \
        .groupby(['name']) \
        .sum() \
        .sort_values(by='count', ascending=False) \
        .head(top)
    return top_name

In [4]:
count_top([1900, 1950, 2000])

         count
name
James   111789
John    109601
Robert  101368

## Задача №2
С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов. Например:

```python      
count_dynamics([1900, 1950, 2000]) == {
  'F': [299810, 1713259, 1814922],
  'M': [150486, 1790871, 1962744]
}
```

In [5]:
def count_dynamics(years):
    dataframe = get_dataframe(years)
    dynamics_name = dataframe[['year', 'gender', 'count']] \
        .groupby(['year','gender']) \
        .sum() \
        .unstack('gender')
    return dynamics_name

In [6]:
count_dynamics([1900, 1950, 2000])

          count
gender        F        M
year
1900     299798   150480
1950    1713065  1790437
2000    1815295  1963202